h3 {

  font-family: Arial, sans-serif;
  color: rgb(135, 33, 9);
  justify-content: center;
  align-items: center;

}

img, .logo {

    display: inline-block;
    vertical-align: middle;


} 
